.mainDiv{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	padding-top: 5%;
	padding-bottom: 5%; 
}

#infoArea{
	resize: none;
	padding: 25px;
	border-radius: 15px;
	border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
    font-size: 15px;
}

.container-login100-form-btn {
  width: 10%;
  flex: 50%;
  padding: 10px;
}

.info{
	margin-left: 0px;
	width:720px;
	resize: none;
	padding: 25px;
    font-size: 15px;
}

.inf{
	width:950px;
	height:400px;
	border-radius: 15px;
	border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
}