
.slidecontainer{
	width:35%;
	display: flex;
margin-top:0px;
}

.slider{
	
	-webkit-appearance: none;
	width:25%;
	background: #d3d3d3;
	height: 15px;
    border-radius: 5px;
	opacity: 0.7;
	outline: none;
	transition: opacity .2s;
}


.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
height: 25px;
  border-radius: 50%; 
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.outVal{
	margin-left:5px;

	margin-top:0px;
}

.outSave{
	display:none;
}
.test{
	display:none;
}

.checkbox{
	margin-left: 50px;
}

.radioB{

	margin-left:30px;
}

.sb{
  margin-top:5px;	
  background-color: #a7d129;
  float: left;
  border-radius:5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #fff;
  margin-left:10px;
  width:150px;
}
.sb:hover {
  background-color: #000000;
  color: #fff;
 
}

/* Create an active/current tablink class */
.sb:active {
  background-color: #000000
  color:  #fff;
}



.bottoms{
	display:flex;
}


/*Pop Up*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


