.mainDiv{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	padding-bottom: 2.5%; 
}

h2 {
	margin-top: 2.5%;
	/*margin-left: 40%;*/
}

.message{
	flex: 65%;
	padding-left: 2%;
}

.messages{
	flex: 35%;
}

select {
	width: 100%;
    box-shadow: 0 0 10px #719ECE;
    font-size: 15px;
}

option:nth-child(even) {
  background-color: #e3e3e3;
}

option:checked, option:hover {
    background-color: lightblue;
}

option {
	padding: 2.5%;
}

*:focus {
    outline: none;
}

#messageArea{
	resize: none;
	padding: 15px;
	border-radius: 15px;
    box-shadow: 0 0 10px #719ECE;
    font-size: 20px;
}