.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
  background-color: #000000;
  
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #fff;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #a7d129;
  color: #fff;
 
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #a7d129;
  color: #000000;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height:400px;
}

.tabControl{
  /*text-align:center;*/
  padding-left: 20px;
  padding-bottom:30px;
  width:700px;

}

.provcontrol{
	display: flex;
}

.sel{
	width:50%;
	text-align: center;
}

.h2style{
	font-size: 40px;
	color:#0000000;
}

.h3style{
	font-size: 18px;
	text-align:left;
	color:#010101;
	margin-left:10px;
}

.buttons button:hover{
	background-color: #a7d129;
    color: #fff;
   	
}
.buttons button:active{
	background-color: #a7d129;
    border:none;
   
}


.buttons{
	padding-top:30px;
	
}



.providers{
	width: 400px;
	height: 50px;
	text-align: center;
    margin-top: 12px;
	background-color: #000000;
	color: #fff;
	font-style: bold;
	border:none;
	border-radius: 5px;
}



.providers:active{
	border:none;
}