.nav-list-item{
	display:flex;
	background-color: #a7d129;
	margin-left:10px;
	height: 300px;
	margin-right: 10px;
}

.panel-img{
	height:90%;
	margin-left:15px;
	margin-top:15px;
}

.qty{
	display: flex;
	margin-top: 10px;
}

.qty-inp{
	width:40px;
	height:20px;
	margin-left: 5px;
}

.info-panel{
margin-left:20px;	
	margin-top:30px;
}

.add-button{
	width:150px;
	height:30px;
	text-align:center;
	font-size: 18px;
	background-color: #000000;
	color: #fff;
	font-style: bold;
	border:none;
	border-radius: 5px;
	margin-top: 20px;
	
}
.lineS{
	color:#a7d129;
	border-color: #a7d129;
	padding-top:5px;

}
.add-button:hover{
	background-color: #a7d129;
    color: #fff;	
	border:true;
	border-color:#000000;
}
.imag{
	width:310px;
}
.ol-items{
	padding-left:0px;
}
.hDetails{
	font-size:20px;
	
}

.tabInfo{
	margin-left: 40px;
	margin-right: 50px;
	margin-top: 20px;
}