.mainDiv{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	padding-bottom: 2.5%; 
}

h2 {
	margin-top: 2.5%;
	/*margin-left: 40%;*/
}

.selectedDev{
	flex: 50%;
	padding-left: 10%;
}

.selectDev{
	flex: 50%;
}

#devArea{
	resize: none;
	padding: 25px;
	border-radius: 15px;
	border:1px solid green;
    box-shadow: 0 0 10px #719ECE;
    font-size: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) .consume{
  background-color: #dddddd;
}

.consume {
	padding: 1%;
}

.checkBox {
  height: 25px;
  width: 25px;
}

.devName {
	background: lightgrey;
	padding: 1.5%;
	width: 100%;
}

.addDevice{
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	padding-top: 5%;
}

.deviceName{
	flex: 65%;
}

.deviceButton{
	flex: 35%;
	padding-top: 2.0%;
	padding-left: 10%;
}

#list{
	padding-left: 3.5%;
	font-size: 20px;
}

li{
	list-style-type:disc;
}

/*Pop Up*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.buttons{
  width: 40%;
  margin-left: 30%;
}

button {
  margin: 2%;
}

*:focus {
    outline: none;
}