.mainDiv{
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 2.5%;
	display: flex;
}

h2 {
	margin-top: 2.5%;
	/*margin-left: 40%;*/
}

.login100-form-btn {
  width: 25%;
  padding: 10px;
}

.chart{
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
}
.mainDiv div{
	width: 49%;
	margin: 0;
}

/*Pop Up*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}