html, body {
      min-height: 100%;
}

body, div, form, input, select, textarea, label {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #000000;
      line-height: 22px;
      width:auto;
}

h1 {
      position: absolute;
      margin: 0;
      font-size: 40px;
      color: #fff;
      z-index: 2;
      line-height: 83px;
  }

a {
  text-decoration: none;
  color: #ffffff;
}

label {
  margin-left: 50px;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
}

form {
        margin-left:150px;
        margin-right:150px;
        width: 100%;
        padding: 20px;
        border-radius: 6px;
        background: #a7d129;
        box-shadow: 0 0 8px  #a7d129;
}

.banner {
          position: relative;
          height: 300px;
          background-image: url('../images/panouri.jpg');
          background-size: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width:auto;
}


.banner::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      width: 100%;
      height: 100%;
}

input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
}

input {
      width: calc(100% - 10px);
      padding: 5px;
}

input[type="date"] {
      padding: 4px 5px;
}

textarea {
      width: calc(100% - 12px);
      padding: 5px;
}

.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #616f39;
}

.item input:hover, .item select:hover, .item textarea:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 3px 0 #616f39;
      color: #616f39;
}

.item {
      position: relative;
      margin: 10px 0;
}

.item span {
      color: red;
}

input[type="date"]::-webkit-inner-spin-button {
      display: none;
}

.item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a7d129;
}

.item i {
      right: 1%;
      top: 30px;
      z-index: 1;
}

[type="date"]::-webkit-calendar-picker-indicator {
      right: 1%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
}

input[type=radio], input[type=checkbox]  {
      display: none;
}

label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
}

.question span {
      margin-left: 30px;
}

.question-answer label {
      display: block;
}

label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
}

input[type=radio]:checked + label:before, label.radio:hover:before {
      border: 2px solid #a7d129;
}

label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid #a7d129;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
}

input[type=radio]:checked + label:after {
      opacity: 1;
}

.btn-block {
      margin-top: 10px;
      text-align: center;
}

button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: #000000;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
}

input {
  margin-left:50px;
}

select, option {
  margin-left: 50px;
  width: 100%;
}

@media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}

.name-item input, .name-item div {
      width: calc(50% - 20px);
}

.name-item div input {
      width:97%;
}

.name-item div label {
      display:block;
      padding-bottom:5px;
}

.subscribeNewsletter {
	position: relative;
}
.subscribeNewsletter .email {
	padding: 5px 60px 5px 15px;
	border-radius: 3px;
	-Webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	border: 1px solid #fff;
	width: 100%;
	text-align: left;
}
.subscribeNewsletter .email {
	background-color:#F4F4F4;
	border: none;
}
.subscribeNewsletter .submit {
	width: 40px;
	height: 40px;
	background-image: url('../images/subscribe.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: #a7d129;
	top: 0;
	right: 0;
	outline:none;
	border: none;
}
